body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0071e2;
    border-radius: 5px;
    animation: move-ani 2s cubic-bezier(0.7, 0, 0.3, 1) infinite;
}

@keyframes move-ani {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        left: unset;
        right: 0;
    }
}