<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css">
</head>

<body>

    <div class="container">
        <main>
            <h2>HTTP Error</h2>
            <h2>{{error}}</h2>
        </main>
    </div>
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>