<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>管理员/Admin</title>
    <link href="static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css">
</head>

<body>

    <div class="container">
        <h1>管理员页面/Admin Page:</h1>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name }}<br>
            {{ form.difficult.label }} {{ form.difficult }}<br>
            {{ form.video.label }} {{ form.video }}<br>
            {{ form.downloadURL.label }} {{ form.downloadURL }}<br>
            {{ form.geneticist.label }} {{ form.geneticist }}<br>
            {{ form.submit }}
        </form>
    </div>
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>