<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>管理员/Admin</title>
    <link href="static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css">
</head>

<body>

    <div class="container">
        <header>
            <h1>管理员页面/Admin Page:</h1>
        </header>
        <main>
            <form method="POST">
                <div class="form-group">
                    {{ form.csrf_token }}
                </div>
                <div class="form-group">
                    {{ form.name.label }} {{ form.name }}<br>
                </div>
                <div class="form-group">
                    {{ form.difficult.label }} {{ form.difficult }}<br>
                </div>
                <div class="form-group">
                    {{ form.video.label }} {{ form.video }}<br>
                </div>
                <div class="form-group">
                    {{ form.downloadURL.label }} {{ form.downloadURL }}<br>
                </div>
                <div class="form-group">
                    {{ form.geneticist.label }} {{ form.geneticist }}<br>
                </div>
                <div class="form-group">
                    {{ form.submit }}
                </div>
            </form>
        </main>
    </div>
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>