<!DOCTYPE html>
<html lang="en">

<head>
    <title>铺面列表/Levels</title>
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css">
</head>

<body>

    <div class="container">
        <h2>铺面详情 Level Info</h2>
        <table border="1" class="table">
            <thead>
                <tr>
                    <th>曲师+歌曲/Artist+Song:</th>
                    <th>难度/Difficult:</th>
                    <th>谱师/geneticist:</th>
                    <th>视频/Vidio:</th>
                    <th>下载链接/DownloadURL:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[4] }}</td>
                    <td><a href="{{ item[2] }}" target="_blank"><button class="button">点击观看/Watch</button></a></td>
                    <td><a href="{{ item[3] }}" target="_blank"><button class="button">点击下载/Download</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>